button.mybutton{
  transform: translate(0%, 0%);
  position: fixed;
  display: block;
  bottom: 10vh;
  height: 10vh;
  width: 50vw;
  left:25%;
  background-color: #04AA6D;
  text-align: center;
  font-size: 5vh;
  color: white;

}

button.disabled_button{
  transform: translate(0%, 0%);
  position: fixed;
  display: block;
  bottom: 10vh;
  height: 10vh;
  width: 50vw;
  left:25%;
  background-color: gray;
  text-align: center;
  font-size: 100%;
  color: white;
  pointer-events: none;
}

#jspsych-survey-text-next{
font-size: 5vh;
margin-top: 20px;
}

.sv_nav_btn{
font-size: 5vh;
}
